html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map{
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
    margin-top: 50px;
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

/* CUSTOMIZAÇÃO DO FOOTER */
.panel{
	margin-bottom: 0px;
    text-align: center;
}

/* CUSTOMIZAÇÃO DO CADASTRO */

fieldset{
	margin:1% auto;
}
.box-mensagem-crud{
	margin-top: 10px;
}
.msg-erro{
	color: red;
}

.center-panel{
  width: 500px;
  height: 390px;
  margin: 70px auto;
  font-family: 'Raleway', sans-serif;
}

.bg-color-blue{
  background-color: #1212B8;
}

.ls-login-logo{
  color: #1212B8;
}
