body{
	margin: 0 0 60px;
}
/* CUSTOMIZAÇÃO DO HEADER */
.navbar{ 
	margin-bottom: 0px; 
}

/* CUSTOMIZAÇÃO DO FOOTER */
.panel{
	margin-bottom: 0px;
	text-align: center;
}

/* CUSTOMIZAÇÃO DO CADASTRO */

fieldset{
	margin:1% auto;
}

.box-mensagem-crud{ 
	margin-top: 10px;
}

.msg-erro{
	color: red; 
}

#map{
	height: 600px;
	width: 1000px;
	margin: auto auto auto 100px;
}

