html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map{
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
    margin-top: 50px;
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

/*-------CUSTOMIZAÇÃO DO MENU DE NAVEGAÇÃO-----------*/

.logo-nav{
  width: 22%;
  height: 22%;
}

.navbar-color{
  background-color: #21635d;
}

/* CUSTOMIZAÇÃO DO FOOTER */
.panel{
	margin-bottom: 0px;
    text-align: center;
}

/* --------CUSTOMIZAÇÃO DO CADASTRO------------*/

.registration-box{
  width: 698px;
  background-color: blue;
}

/*-------RESPONSIVIDADE DO FORMULÁRIO DE CADASTRO--------*/
@media screen and (min-width: 1200px) {
    .login-box{
      background-color: blue;
    }
}
@media screen and (max-width: 480px) {
  .registration-box{
    width: 90%;
    height: 80%;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: pink;
  }
  .thumbnail{
    width: 20%;
    height: 20%;
    margin-left: 32%;
  }

  .photo-submit{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 481px) {
    .registration-box{
      width: 90%;
      height: 80%;
      margin-top: 20%;
      margin-left: 5%;
      margin-right: 5%;
      background-color: black;
    }
}

@media screen and (min-width: 768px) {
  .registration-box{
    width: 43%;
    margin-left: 28.5%;
    margin-right: 28.5%;
    margin-top: 7%;
    background-color: #e6e6ff;
  }

  .thumbnail{
    margin-left: 7%;
    width: 24%;
    height: 24%;
  }
}

/*--------------OUTROS ATRIBUTOS DO CADASTRO--------------------*/

.form-group{
  margin-left: 5%;
  margin-right: 5%;
}

fieldset{
	margin:1% auto;
}
.box-mensagem-crud{
	margin-top: 10px;
}
.msg-erro{
	color: red;
}

.button-register{
  width: 15%;
  margin-left: 42.5%;
  margin-right: 42.5%;
  margin-bottom: 5%;
}

  legend{
    text-align: center;
  }

/*---------PÁGINA COM INFORMAÇÕES DE LARGURA DE BANDA-------*/

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
