html, body {
	height: 100%;
	width: 100%;
	background-color: #444444;
	
}
/* CUSTOMIZAÇÃO DO MAPA*/
.map{
	height: 100%;
	margin-top: -51px;
}
/* TAMANHO DA MARGEM DE BAIXO DO HEADER*/
.navbar{
	margin-bottom: 0px;
}
/* COR DAS MEMSAGENS DE ERRO DOS FURMULÁRIOS*/
.msg-erro{
	color: #a94442;
 	background-color: #f2dede;
 	text-align: center;
}
/*CENTRALIZAR OBJETOS NA TELA*/
.child.both {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.child.horizontal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
.child.vertical {
	margin-top: 35px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}