html, body {
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
	
}
/******************CUSTOMIZAÇÃO DO HEADER******************/
.navbar{
	border: none;
	margin-bottom: 0px;
	background-color: #333;
}

/******************CUSTOMIZAÇÃO DO MAPA******************/
.map{
	height: 100%;
}
/******************CUSTOMIZAÇÃO DO FORMULÁRIO******************/

/*CONTEUDO DO FURMULÁRIO*/
.msg-erro{
	color: #a94442;
	background-color: #f2dede;
	padding: 2px;
	border: 1px solid #ebccd1;
	border-radius: 5px;
	display: none;
}
.msg-success{
	font-size: 20px;
	color: #3c763d;
	background-color: #dff0d8;
	padding: 2px;
	border: 1px solid #d6e9c6;
	border-radius: 5px;
}
.well{
	margin-bottom: 0px;
	margin-top: 50px;
	border: none;
	background-color: #f5f5f5;
	box-shadow: none;
}
/*TÍTULO DO FURMULÁRIO*/
.title-form{
	margin-top: 0px;
}
.form-group{
	margin-bottom: 8px;
}
/******************CENTRALIZAR OBJETOS VERTICALMENTE NA TELA******************/
.pai {
	height: 100%;
	width: 100%;
	display: table;	
}
.filho {
	display: table-cell;
	vertical-align: middle;
}