html, body {
	height: 100%;
	width: 100%;
	background-image: url("../_images/background.jpeg");
}

/* CUSTOMIZAÇÃO DO MAPA*/
#map{
	height: 100%;
	margin-top: -51px;
}
/* TAMANHO DA BORDA DE TOPO DOS FORMULÁRIOS DE CADASTRO E LOGIN*/
.margem-top-form{
	margin-top: 4%;
}
/* TAMANHO DA MARGEM DE BAIXO DO HEADER*/
.navbar{
	margin-bottom: 0px;
}
/* COR DA MSG DE ERRO DOS FURMULÁRIOS*/
.msg-erro{
	color: red;
}
/*TELA DE LOGIN*/

.login-box{
	border-color: transparent;
	color: black;
	background-color: rgba(123, 123, 123, 0.3);
}
/*LOGOTIPO*/
.logo{
	width: 10%;
}
/*DIMENSÃO DO MAPA*/
.map{
	width: 100%;
}